# AUTH_TRUST_HOST="true"
# NEXTAUTH_URL="your-domain.com"
# NEXTAUTH_SECRET="secret-key"
# NEXT_PUBLIC_BASE_URL="your-domain.com"

# MONGODB_URI="mongodb+srv://<user>:<password>@cluster.mongodb.net/<db>"


AUTH_TRUST_HOST="true"
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
NEXTAUTH_SECRET="da39a3ee5e6b4b0d3255bfef95601890afd80709"
MONGODB_URI="mongodb+srv://teamrootdevs_db_user:QcJRLX7VVtqsMRO1@root-football.yi5w2kl.mongodb.net/xoom_sports?retryWrites=true&w=majority"